:root {
  --bs-font-sans-serif: "Poppins", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
}

.vh-90 {
  height: 90vh !important;
}

/* Remove the default increment/decrement arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  transition: box-shadow 0.3s ease !important;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.carousel-image {
  max-height: 300px;
  object-fit: contain;
}